
name: Release
on:
  pull_request_target:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-18.04

    steps:
      - name: Prepare apt & deps
        run: |
          apt-get update && \
          apt-get install -y \
            software-properties-common \
            build-essential clang iputils-ping wget \
            python3 python3-pip \
            iptables-nftables-compat iptables vim && \
          apt-get clean
          pip3 install --no-cache-dir requests
 
